main{
    display: flex;
    text-align: center;
    justify-content: center;    
    align-items: center;
    border: 2px solid blue;
}
div{
    width: 100%;    
    height: 100%;
}
.chat-container{
    display: flex;
    flex-direction: column;
}
.input-message-box{
    display: flex;
}